.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centers the container vertically */
  }
.map-container {
    position: relative;
    width: 100%; /* or a specific width */
}
  
.responsive-map {
    width: 100%;
    height: auto; /* maintains aspect ratio */
}
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centers the container vertically */
    background-image: url('../../public/mapDark.png'); /* Replace with the path to your background image */
    background-size: cover; /* Ensures the image covers the entire container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
  }  
  
.content-container img {
    width: 100%; /* Sets the width of both images to 100% of their container */
    height: auto; /* Maintains the aspect ratio */
}
.tear {
    position: absolute;
    width: 2vw; /* or another relative unit */
    height: 2vw; /* or another relative unit */
    border-radius: 0 50% 50% 50%;
    border: 0.2vw solid black;
    transform: rotate(-135deg);
    background-color: red; /* for visibility */
    cursor: pointer;
}
.popup {
    left: -7vw;
    display: none; /* Hide popup by default */
    position: absolute;
    z-index: 10; /* Make sure popup appears above other elements */
    width: 23vw; /* Adjust as needed */
    height: 5vw;
    background-color: white;
    border: 1px solid black;
    transform: rotate(135deg);
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.tear:hover .popup {
display: flex; /* Show popup on hover */
}

.popup-image {
    max-width: 20%; /* Maximum width as a percentage of its container */
    height: auto; /* Keep the aspect ratio */
    object-fit: cover; /* Adjust as needed */
    margin-right: 0.5vw; /* Space between image and text */
}
