.map-container {
    position: relative;
    width: 100%; /* or a specific width */
}
  
.responsive-map {
    width: 100%;
    height: auto; /* maintains aspect ratio */
}
.content-container {
    width: 100%; /* Sets the container to the full width of the page */
}
  
.content-container img {
    width: 100%; /* Sets the width of both images to 100% of their container */
    height: auto; /* Maintains the aspect ratio */
}
.tear {
    position: absolute;
    width: 2vw; /* or another relative unit */
    height: 2vw; /* or another relative unit */
    border-radius: 0 50% 50% 50%;
    border: 0.2vw solid black;
    transform: rotate(-135deg);
    background-color: red; /* for visibility */
    cursor: pointer;
}
.popup {
    display: none; /* Hide popup by default */
    position: absolute;
    z-index: 10; /* Make sure popup appears above other elements */
    width: 200px; /* Adjust as needed */
    background-color: white;
    border: 1px solid black;
    transform: rotate(135deg);
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.tear:hover .popup {
display: block; /* Show popup on hover */
}

.popup-image {
width: 100%; /* Make image fit in the popup */
height: auto;
}
