.map-container {
    position: relative;
    width: 100%; /* or a specific width */
}
  
.responsive-map {
    width: 100%;
    height: auto; /* maintains aspect ratio */
}
.content-container {
    width: 100%; /* Sets the container to the full width of the page */
}
  
.content-container img {
    width: 100%; /* Sets the width of both images to 100% of their container */
    height: auto; /* Maintains the aspect ratio */
}
.tear {
    position: absolute;
    width: 2vw; /* or another relative unit */
    height: 2vw; /* or another relative unit */
    border-radius: 0 50% 50% 50%;
    border: 0.2vw solid black;
    transform: rotate(-135deg);
    background-color: red; /* for visibility */
}
  