.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* This will make the container take up the full height of the viewport */
    text-align: center; /* Center text horizontally */
    background-color: #f5f5f5;
  }

  input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 90%; /* Extend input bar across the entire page */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the search results */
  ul {
    list-style: none;
    padding: 0;
    width: 100vh; /* Extend results across the entire page */
  }
  
  li {
    height:30%;
    background-color:white;
    padding: 15px;
    margin: 5px 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  li:hover {
    background-color: #e0e0e0;
  }